*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../../assets/background.jpg');
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content{
   
   
    display: flex;
}

.left{
    width: 30%;
    background-color:#EDB68F;
    min-height: 100vh;
}

.right{
    width: 70%;
    min-height: 100vh;
    background-color: rgba(26, 26, 24, 0.3);
}

.nameHeader{
    margin-top: 100px;
    margin-left: 80px;
}
.nameHeader label{
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
}

.nameHeader span{
    background-color: #C4DBF5;
    border-radius: 100%;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px;
}

.nameHeader label p {
    margin-left: 20px;
    margin-top: 15px;
}


.nameHeader .formGroup{
    margin-top: 50px;
    display: flex;
}

.controlForm{
    width: 222px;
    text-indent: 10px;
    height: 26px;
    border-radius: 6px;
}

.icon{
	width: 25px;
	height: 25px;
    margin-left: 10px;
}

.leftList{
    margin-top: 50px;
}

.myList{
    display: flex;
    margin-top: 10px;
}

.listIcon{
    width: 25px;
	height: 25px;
    margin-top: 15px;
}

.rightHeader{
    display: flex;
    margin: 50px;

    position: relative;
}

.rightHeader h2{
    color: white;
    font-size: 1.9em;
}

.user{
    position: absolute;
    right:1%;
    display: flex;
}

.userLog{
    width: 35px;
	height: 35px;
    
}

.user p{
    margin-top: -10px;
}
.user label{
  
    font-size: 1.8em;
    font-weight: 600;
    width: 40px;
    margin: 0 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.addTasks{
    background: rgba(94, 87, 87, 0.9);
    color: white;
    display: flex;
    height: 70px;
    width: 50%;
    position: absolute;
    top: 90%;
    border: 3px solid #FFFFFF;
    margin-left: 20px;

}

.addTasks button{
    background-color: rgba(54, 53, 53, 80%);
   
}
.addTasks label{
    margin-left: 10px;
    font-size: 2.5em;
    font-weight: 500;
    border:5px;
    
}
.addTasks p{
    margin-left: 20px;
    font-size: 2.5em;
    border:5px;
    border-color: #FFFFFF;
}

.newList{
    background: rgba(255, 255, 255, 0.7);
    color: black;
    display: flex;
    height: 70px;
    width: 20%;
    position: absolute;
    top: 90%;
    border-color: #FFFFFF;
    border:5px;
    margin-left: 20px;

}
/* .postadd{
    width: 32px;
height: 28px;
left: 367px;
top: 963px;
} */

.labels{
    display: flex;
    width: 80%;
    
    
}

.newList label{
    margin-left: 10px;
    font-size: 2.5em;
    font-weight: 500;
    border:5px;
    border-color: #FFFFFF;
}
.newList p{
    margin-left: 20px;
    font-size: 2.5em;
    border:5px;
    border-color: #FFFFFF;

}
.postadd{
    margin-left: 60px;
    margin-top: 20px;
    width: 10%;

}


.entList{
    margin-top: 20px;
    overflow: hidden;
    
   
}

.formList{
    background: rgba(217, 217, 217, 0.65);
    border-top: 0 solid grey;
    margin: 5px 20px;
    border-radius: 4px;
    display: flex;
}

.entertainmentList{
    margin: 5px 80px 5px 10px;
    width: 95%;
}

.buttons{
    margin-top: 15px;
    text-align: left;
    display: flex;
    float: right;
}

.buttons .controlForm{
    height: 40px;
    width: 40px;
    margin: 10px 10px
}
.dots{
    width: 20px;
    margin: 0 20px;
}